.cproject
.project
.*.sw?
*~
build/
install/
out/
apidoc/
bdp/
tradc/
depand/
deleted/
__pycache__/
genc/
*.log

# Robot output files
log.html
report.html
results-test.robot.xml
robot_output.xml

# West build output
# To have the same configuration localy and on github, the build output of west needs to be on the s2opc folder
pub
sub