# Continuous Integration configuration with gitlab.com
# See https://gitlab.com/help/ci/yaml/README.md

stages:
  - gen
  - build
  - test
  - build-others
  - analyses

.docker-job: &docker_job
  tags:
    - docker
    - linux
  # only:
  #   - master

###
# Generation jobs
###

generation:
  <<: *docker_job
  stage: gen
  image: com2.systerel.fr:5000/c765/gen-ext@sha256:29c8f93dfce606b86133605ee367c14e3b4b978eebe4181e42e9b826db06b06c # digest of gen-ext:1.3
  script:
    - ./clean.sh all
    - ./.pre-build-ext.sh
    - ./.check_generated_code.sh
  artifacts:
    name: 'bgenc-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - 'pre-build.log'
    when: always
    expire_in: '1 month'
    when: always
  except:
    variables:
      - $NO_GEN

###
# Compilation jobs
###

.build-linux: &build_linux
  <<: *docker_job
  stage: build
  image: registry.gitlab.com/systerel/s2opc/build@sha256:ab28b5b22b378988e863dfdc1f1fbef78748008ff8ee56c0dd1a0a3cfa57d1b6 # digest of build:1.15
  script:
    - &build_command_line './build.sh && cd $BUILD_DIR && cmake --build . --target install && ../tests/scripts/make-ctestfile-relative tests/ClientServer/CTestTestfile.cmake > ./bin/CTestTestfile.cmake || exit 1'
  variables: &build_linux_variables
    CMAKE_INSTALL_PREFIX: '../install_linux64'
    DOCKER_IMAGE: 'c1958a853af652ee12a74d6eee23e7af746711e10ff1e2a58453cf1e21f85b49'
    BUILD_DIR: build
  artifacts:
    name: 'bin-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - 'install_linux64/'
      - 'build/'  # Required when using coverage analysis
    expire_in: '1 month'
  except:
    variables:
      - $WINDOWS_TEST
      - $CROSS_COMPILE
      - $WITH_COVERITY

# Used by "normal" pipeline
build-linux64-ASan:
  <<: *build_linux
  variables:
    <<: *build_linux_variables
    WITH_ASAN: 1
  except:
    variables:
      - $NO_ASAN
      - $WINDOWS_TEST # repeat those of build_linux since it will be overwritten
      - $CROSS_COMPILE
      - $WITH_COVERITY


# Used by coverage
build-linux64:
  <<: *build_linux
  only:
    variables:
      - $NO_ASAN

build-win64: &build_win64
  <<: *docker_job
  stage: build
  image: registry.gitlab.com/systerel/s2opc/mingw_build@sha256:2f795355fd5e4b9ce3da064f049d9bf1296a13aa1fea3092cc81937b00a2bc8e # digest of mingw_build:1.7
  script:
    # Manually disable PyS2OPC for windows cross builds. When set in "variables:", the value is overwritten.
    - 'export WITH_PYS2OPC=OFF'
    - *build_command_line
  variables: &build_win64_variables
    CMAKE_INSTALL_PREFIX: '../install_win64'
    CMAKE_TOOLCHAIN_FILE: 'toolchain-mingw32-w64_x86_64.cmake'
    DOCKER_IMAGE: 'sha256:bbbb6dad58c377f0d341279687e84b7d6d69972d7032f13885f0af4502094c2e'
    BUILD_SHARED_LIBS: 'true'
    BUILD_DIR: build_toolchain
  artifacts:
    name: 'bin-w64-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - '$BUILD_DIR/bin'
      - 'install_win64/'
    expire_in: '1 month'
  only:
    variables:
      - $CROSS_COMPILE
  dependencies:
    - generation

build-win32:
  <<: *build_win64
  variables:
    <<: *build_win64_variables
    CMAKE_INSTALL_PREFIX: '../install_win32'
    CMAKE_TOOLCHAIN_FILE: 'toolchain-mingw32-w64.cmake'
  artifacts:
    name: 'bin-w32-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - '$BUILD_DIR/bin/'
      - 'install_win32/'
    expire_in: '1 month'
  only:
    variables:
      - $CROSS_COMPILE

# Used by coverity, also starts the analysis
build-linux64-coverity:
  <<: *docker_job
  stage: build
  image: registry.gitlab.com/systerel/s2opc/coverity@sha256:c6a7d2c85f838a665ca9160de187183e747337db67e62562140f3dfbf17bf5d4 # digest of coverity:1.3
  script: |-
    mkdir build
    cd build
    cmake -DWITH_COVERITY=1 -DCMAKE_BUILD_TYPE=Debug -DWITH_NANO_EXTENDED=1 ..
    /opt/cov-analysis-linux64-2017.07/bin/cov-build --dir cov-int make
    tar czf cov-int.tar.gz cov-int
    curl -k --form token=${COVERITY_TOKEN} --form email=${COVERITY_EMAIL} --form version=${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA} --form description=${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA} --form file=@cov-int.tar.gz https://scan.coverity.com/builds?project=S2OPC
  only:
    variables:
      - $WITH_COVERITY

###
# Test jobs
###

.test-linux: &test_linux
  <<: *docker_job
  stage: test
  except:
    variables:
      - $NO_TESTS
      - $CROSS_COMPILE
      - $WINDOWS_TEST
      - $WITH_COVERITY
      - $WITH_PYS2OPC
      - $WITH_COVERAGE

# Test check belongs to the test part, however it does not depend on linux build.
test-check:
  <<: *test_linux
  image: registry.gitlab.com/systerel/s2opc/check@sha256:bf8a020062958e49d7e214b50769ab8d1adf7309b60bd2ef147135893f12e580 # digest of check:1.8
  script:
    - ./.check-code.sh
  dependencies:
    - generation
  artifacts:
    name: 'test-check-results-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - 'pre-build-check.log'
      - 'clang_tidy.log'
      - 'build-analyzer/analyzer-report'
    when: on_failure
    expire_in: '1 month'

test-unit:
  <<: *test_linux
  image: registry.gitlab.com/systerel/s2opc/test@sha256:a315200c6a613d6d63e971c5c560caff4ded5d7c747941f0fc48c979fccb27ef  # digest of test:2.5
  script:
    - ./test-all.sh
  artifacts:
    name: 'test-unit-results-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - 'build/'
    when: always
    expire_in: '1 month'
  except:
    variables:
      - $NO_TESTS
      - $CROSS_COMPILE
      - $WINDOWS_TEST
      - $WITH_COVERITY
      - $WITH_PYS2OPC
      # Overwrite test_linux except to re-activate only test-unit for WITH_COVERAGE case

test-uactt:
  <<: *test_linux
  image: com2.systerel.fr:5000/c838/uactt-linux@sha256:d109616f528a1d4f2e4b49d9ecc563696b8d136195c0e11d17b4425625e115f9 # digest of uactt-linux:1.2
  script:
    - 'cd acceptances_tests/ && ./launch_acceptance_tests.sh'
  artifacts:
    name: 'uactt-logs-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - 'build/'
      - 'acceptances_tests/*.log'
    when: always
    expire_in: '1 month'

test-pys2opc:
  <<: *test_linux
  image: registry.gitlab.com/systerel/s2opc/test@sha256:a315200c6a613d6d63e971c5c560caff4ded5d7c747941f0fc48c979fccb27ef  # digest of test:2.5
  script:
    - cd build
    - ctest -T test -R pys2opc
  artifacts:
    name: 'test-pys2opc-results-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - 'build/'
      - 'tests/pys2opc/tests/*.tap'
    when: on_failure
    expire_in: '1 month'
  only:
    variables:
      - $WITH_PYS2OPC
  except:
    variables: [] # overrides the except

###
# Analysis jobs
###

coverage-analysis:
  <<: *docker_job
  stage: analyses
  image: registry.gitlab.com/systerel/s2opc/test@sha256:a315200c6a613d6d63e971c5c560caff4ded5d7c747941f0fc48c979fccb27ef  # digest of test:2.5
  script:
    - ./.gen_coverage.sh
  artifacts:
    name: 'coverage-report-${CI_COMMIT_REF_SLUG}_${CI_COMMIT_SHA}'
    paths:
      - 'report'
    expire_in: '1 month'
  only:
    variables:
      - $WITH_COVERAGE

windows-appveyor:
  stage: analyses
  image: docker.io/library/debian@sha256:de3eac83cd481c04c5d6c7344cd7327625a1d8b2540e82a8231b5675cef0ae5f  # debian:9
  script:
    - 'apt-get update && apt-get -y install curl && curl -H "Authorization: Bearer $APPVEYOR_TOKEN" -H "Content-Type: application/json" --request POST -d ''{"accountName" : "Systerel", "projectSlug": "s2opc", "branch": "''$CI_COMMIT_REF_NAME''"}'' https://ci.appveyor.com/api/builds'
  tags:
    - linux
  only:
    variables:
      - $WINDOWS_TEST
