.cproject
.project
.*.sw?
*~
build/
build_zephyr/
install/
out/
apidoc/
bdp/
tradc/
depand/
deleted/
__pycache__/
genc/
*.log
build_zephyr/
build_freertos/
build-analyzer
.vscode
index*.txt.*
serial*.txt.*

# Temporary directories for B to C translation
pre-build/
pre-build-interactive/
